@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
	font-family: 'Noto Sans JP', sans-serif;
}

footer {
	margin-top: auto;
	list-style: none;
	overflow: hidden;
	width: 140px;
	text-align: center;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

.h1_class {
	border: 5px solid #000000;
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 20px;
	padding: 15px 20px;
	text-align: center;
}

.h2_class {
	background: #000000;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 20px;
	padding: 10px 20px;
}

.h3_class {
	border-left: 5px solid #000000;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px;
	padding:0 0 0 10px;
}

.h4_class {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px;
}

.todayTarget {
	position: relative;
	left: 100px;
}

.todaysRank {
	position: relative;
	margin: 2em 0;
	padding: 0.5em 1em;
	border: solid 3px #95ccff;
	border-radius: 8px;
	display:inline-block;
}

.todaysRank .todaysRank-title {
	position: absolute;
	display: inline-block;
	top: -13px;
	left: 10px;
	padding: 0 9px;
	line-height: 1;
	font-size: 19px;
	background: #FFF;
	color: black;
	font-weight: bold;
}

.todaysRank p {
	margin: 0;
	padding: 50px 80px;
}

.inputTodayTarget {
	position: relative;
	left: 100px;
}

.Required {
	position: relative;
	left: 100px;
}

.Selection {
	position: relative;
	left: 100px;
}

#menu {
	list-style: none;
	overflow: hidden;
}

#menu li {
	width: 140px;
	text-align: center;
	background-color: gray;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

#menu li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 20px;
}

#clear {
	list-style: none;
	overflow: hidden;
}

#clear li {
	width: 140px;
	text-align: center;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

input.AddDelButton {
	list-style: none;
	overflow: hidden;
	width: 140px;
	text-align: center;
	float: right;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

textarea.inputTodayTarget {
	display: inline-block;
	width: 75%;
	height: 100px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
}

input.inputText {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
}

input.inputWeight {
	display: inline-block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

#todayRequired, #todaySelection {
	border-collapse: collapse;
	border: 1px solid #ccc;
	font-size: 14px;
}

#todayRequired th, #todaySelection th {
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid gray;
	background: black;
	color: #fff;
}

#todayRequired td, #todaySelection td {
	border: solid 1px #ccc;
}

/* past Page Settings */
.pastDateSelectLabel {
	text-align: center;
	margin: 0 auto;
}

input[type="date"] {
	position: relative;
	padding: 0 10px;
	width: 200px;
	height: 36px;
	border: 2px solid #ccc;
	border-radius: 15px;
	background: transparent;
	box-sizing: border-box;
	font-size: 14px;
	color: #999;
}

input.pastDateSelectFormButton {
	list-style: none;
	overflow: hidden;
	width: 80px;
	height: 60px;
	text-align: center;
	line-height: 40px;
	margin-right: 2px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	padding: 0;
	margin: 0;
}